<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>

<body>
    <div class="w-full bg-[#f6f4f1] md:p-12.5 px-8">
        <div class="md:max-w-360 mx-auto w-full ">
            <div class="flex flex-col md:flex-row justify-between gap-10 pb-10">
                <div class="flex-1">
                    <h3 class="font-bold text-[#1a365d] text-lg mb-3 uppercase">
                        CÔNG TY CỔ PHẦN TẬP ĐOÀN TÂM THÀNH
                    </h3>
                    <div class="text-[14.5px] leading-relaxed">
                        <p class="font-semibold mb-1">Văn phòng đại diện:</p>
                        <p class="mb-2 text-gray-500">
                            Số 59 Lê Hồng Phong, phường Bắc Giang, tỉnh Bắc Ninh
                        </p>
                        <p class="text-gray-500 text-[14.5px]">
                            <span class="font-medium">www.tamthanhland.vn</span>
                            <span class="mx-1">/</span>
                            <!-- <span class="font-medium">www.ricecitylongchau.com</span> -->
                            <span class="mx-1">/</span>
                            <span class="text-gray-500 font-medium">
                                Email: info@tamthanhgroup.net
                            </span>
                        </p>
                    </div>
                </div>

                <div class="w-full md:w-62.5">
                    <h4 class="font-bold text-gray-700 mb-4">
                        Một sản phẩm của Tâm Thành Group
                    </h4>
                    <ul class="space-y-3">
                        <li>
                            <a href="#" class="flex items-center group">

                                <i class="bi bi-facebook mr-2 text-xl"></i>
                                <span class="text-sm">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center group">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" class="mr-2">
                                    <path
                                        d="M3.33333 1.66699V15.7445C3.33333 16.192 3.03167 16.592 2.64667 16.6553C2.39667 16.6945 2.15 16.6303 1.96083 16.4687C1.77417 16.3103 1.66667 16.0787 1.66667 15.8337V10.8337H0V15.8337C0 16.5678 0.320833 17.262 0.880833 17.7387C1.335 18.1245 1.90833 18.3328 2.5 18.3337H15.8333C17.2117 18.3337 18.3333 17.2128 18.3333 15.8337V1.66699H3.33333ZM15 15.0003H6.66667V13.3337H15V15.0003ZM15 11.667H6.66667V10.0003H15V11.667ZM15 8.33366H6.66667V5.00033H15V8.33366Z"
                                        fill="#212121"></path>
                                </svg>
                                <span class="text-sm font-medium">
                                    Tin tức & Sự kiện
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="border-gray-300 mb-8" />
            <!-- <div class="flex flex-col lg:flex-row justify-between items-center gap-8">
                <div class="flex flex-col sm:flex-row items-center gap-6">
                    <div class="flex items-center gap-4 border-r-0 sm:border-r border-gray-300 pr-0 sm:pr-6">

                        <div class="flex flex-col items-center">
                            <img src="./assets/logo-footer.png" alt="logo-bic" class="w-60 h-20">
                        </div>
                    </div>
                    <p class="text-sm text-[#1a365d] font-semibold">
                        Quyền sở hữu © 2024 thuộc về Himlam Thủ Đô và BIC Việt Nam
                    </p>
                </div>

                <div class="flex divide-x divide-gray-300 text-sm">
                    <div class="px-6 flex flex-col items-center">
                        <span class="text-gray-500">Số người đã truy cập</span>
                        <span class="text-2xl font-bold text-gray-700">
                            718,927
                        </span>
                    </div>
                    <div class="px-6 flex flex-col items-center">
                        <span class="text-gray-500">Số người đang truy cập</span>
                        <span class="text-2xl font-bold text-gray-700">2</span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</body>

</html>