<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiến độ dự án</title>
</head>

<body>
    <div
        class="absolute top-8 left-1/2 -translate-x-1/2 md:top-6 md:right-30 md:left-auto md:translate-x-0 group cursor-pointer">
        <button
            class="bg-[#bda66d] px-6 py-2.5 text-white text-base font-medium hover:opacity-90 transition md:px-8 md:py-3 md:text-lg whitespace-nowrap">
            Tiến độ dự án
        </button>
        <a id="hover-button" href="/tien-do-du-an-noxh.html"
            class="hidden group-hover:block absolute top-full left-1/2 -translate-x-1/2 bg-[#bda66d] mt-0.5 px-6 py-2.5 text-white text-base font-medium hover:opacity-90 transition cursor-pointer md:px-8 md:py-3 md:text-lg whitespace-nowrap">
            Nhà ở xã hội
        </a>
    </div>
</body>

</html>